* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
}

header {
    background: #181818;
    color: white;
    padding: 80px 10%;
}

header p {
    letter-spacing: 4px;
    color: #aaa;
}

header h1 {
    font-size: 70px;
    margin: 10px 0 0;
}

header h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 5px 0 30px;
}

.members {
    color: #bbb;
}

main {
    max-width: 1000px;
    margin: auto;
}

section {
    padding: 70px 30px;
}

section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

section p {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.6;
}

.components {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.component {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.component img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.component h3 {
    margin-bottom: 0;
}

.pid-explanation {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
margin-top: 35px;
}

.pid-card {
background: white;
padding: 25px;
border-radius: 10px;
display: flex;
align-items: center;
gap: 20px;
}

.pid-letter {
font-size: 42px;
font-weight: bold;
min-width: 50px;
}

.pid-card h3 {
margin: 0 0 8px;
font-size: 22px;
}

.pid-card p {
margin: 0;
font-size: 15px;
line-height: 1.4;
}

/* ==================== PID SETTINGS ==================== */

.pid-settings {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
margin-top: 30px;
}

.pid-track {
background: white;
padding: 25px;
border-radius: 10px;
}

.pid-track h3 {
margin-top: 0;
font-size: 24px;
}

.pid-numbers {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
margin: 20px 0;
}

.pid-numbers div {
background: #f2f2f2;
padding: 12px;
border-radius: 7px;
text-align: center;
}

.pid-numbers span {
display: block;
color: #666;
font-size: 13px;
margin-bottom: 3px;
}

.pid-numbers strong {
display: block;
font-size: 24px;
}

.pid-track p {
font-size: 15px;
line-height: 1.5;
}

.photos {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.photos img {
    width: 50%;
    border-radius: 10px;
}

.videos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.videos video {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

footer {
    padding: 30px;
    text-align: center;
    background: #181818;
    color: #aaa;
}

/*All just for resizing on mobile not that important*/
@media (max-width: 700px) {
    header h1 {
        font-size: 50px;
    }

    .photos {
        flex-direction: column;
    }

    .photos img {
        width: 100%;
    }

    /*PID nonsense for mobile*/
    .pid-explanation { 
        grid-template-columns: 1fr; 
    } 
    
    .pid-settings { 
        grid-template-columns: 1fr; 
    }
}
